<div class="container">
  <h1>
    Lista de Regiones
  </h1>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let region of regions" routerLink="edit/{{region.codigo}}">
              <th scope="row">{{region.codigo}}</th>
              <td>{{region.nombre}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>